# Configuration file

"tree configuration settings" {
    # TallOak, BlockOak, GreatOak, SwampOak, Cyprus, Hat, BigPine, BigBirch, or Dead
    S:Algorithm=SwampOak

    # block that the tree can grow on
    S:"Base Blocks" <
        minecraft:grass
        minecraft:dirt
     >

    # Maximum height in blocks
    I:"Height Max"=32

    # Minimum height in blocks
    I:"Height Min"=28

    # Minecraft names are minecraft:leaves:meta and minecraft:leaves2:meta. For mod-added names, use modID:name, e.g., BiomesOPlenty:leaves1. Meta values: 0-3. For leaf name leaves:0=oak, 1=pine, 2=birch, 3=jungle. For leaves2, 0=acacia, 1=darkoak.
    S:"Leaf Name"=minecraft:leaves:0

    # 0 to 144
    I:"Noise Max Value"=75

    # 0 to 144
    I:"Noise Min Value"=55

    # Trees are stunted when blocked by overhead obstacles, but no shorter than this value.
    I:"Stunt Minimum"=7

    # If it's not different from every other defined tree, settings will mix
    S:"Unique Tree Name"=Swamp Oak

    # Noise field to determine where in biome tree can grow.
    B:"Use noise field"=true

    # Minecraft names are minecraft:log:meta and minecraft:log2:meta. For mod-added names, use modID:name, e.g., BiomesOPlenty:logs1. Meta values: 0-3 for upward facing logs. For wood name log:0=oak, 1=pine, 2=birch, 3=jungle. For log2, 0=acacia, 1=darkoak.
    S:"Wood Name"=minecraft:log:0
}


