# Configuration file

AOBDBB {
    B:"Can bushes be bonemealed to generate new berries"=false
    B:"Do Bushes Prick"=false
}


Adamantite {
    S:"Bush Colour"=0x8e9175

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Ardite {
    S:"Bush Colour"=0xf48a00

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Cobalt {
    S:"Bush Colour"=0x2376dd

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Cobaltum {
    S:"Bush Colour"=0x96bab4

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Draconium {
    S:"Bush Colour"=0xb39cca

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Fuzzium {
    S:"Bush Colour"=0xc75f5f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


FzDarkIron {
    S:"Bush Colour"=0x3f0076

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Giganium {
    S:"Bush Colour"=0x5f5fc7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Graphite {
    S:"Bush Colour"=0x424242

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lead {
    S:"Bush Colour"=0x6c717d

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Limpium {
    S:"Bush Colour"=0x5fc75f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Magnesium {
    S:"Bush Colour"=0xc6b7c2

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


MeteoricIron {
    S:"Bush Colour"=0x8a837d

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mithril {
    S:"Bush Colour"=0xb2a3c0

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Nickel {
    S:"Bush Colour"=0x9a9d8d

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Oriharukon {
    S:"Bush Colour"=0x96a6aa

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Platinum {
    S:"Bush Colour"=0xa6b5ba

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Quartz {
    S:"Bush Colour"=0xc5cbd7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Silver {
    S:"Bush Colour"=0xa3aeb4

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Steel {
    S:"Bush Colour"=0x6f7071

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Titanium {
    S:"Bush Colour"=0x767f8e

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tungsten {
    S:"Bush Colour"=0x464b52

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Uranium {
    S:"Bush Colour"=0x8d9433

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Wolframium {
    S:"Bush Colour"=0xbabab5

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Yellorium {
    S:"Bush Colour"=0x8d9433

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Zinc {
    S:"Bush Colour"=0x998d63

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


