# Configuration file

general {
    S:FoodCostBig=30
    S:FoodCostSmall=2.5

    # Time in seconds after which a Minion without a Master ingame despawns
    I:automaticDespawnDelay=300

    # Enables debug printing. LOTS OF IT.
    B:debugMode=false
    I:evilDeedXPCost=8

    # Distance to be used by MC follower pathing. MC default is 12. High values may impede performance
    D:minionFollowRange=12.0
    I:minionsAmountPerPlayer=5
}


