# Configuration file

blocks {
    B:advDeconTable=true
    B:basalt=true
    B:biomeMorpher=true
    B:bloodDynamo=true
    B:bloodFabricator=true
    B:catalyst=true
    B:condenserBlock=true
    B:cosmeticOpaque=true
    B:cosmeticPane=true
    B:creativeJar=true
    B:crystalBlock=true
    B:eldritchConsumer=true
    B:electricBellows=true
    B:essentiaContainer=true
    B:essentiaDynamo=true
    B:existenceBurner=true
    B:existenceFountain=true
    B:existencePylon=true
    B:existenceUser=true
    B:flowerDynamo=true
    B:fluxLamp=true
    B:fusor=true
    B:itemTransmitter=true
    B:manaExchanger=true
    B:manaFabricator=true
    B:manaFluid=true
    B:nodeDynamo=true
    B:nodeGenerator=true
    B:processorBM=true
    B:processorBO=true
    B:processorTC=true
    B:reservoir=true
    B:teslaCoil=true
}


hud {
    B:ShowHUD=false
    I:StartX=16
    I:StartY=88
}


items {
    B:coilCoupler=true
    B:essentiaCannon=true
    B:existenceGem=true
    B:fusionFocus=true
    B:itemBM=true
    B:itemBO=true
    B:itemBoost=true
    B:itemMaterial=true
    B:itemScepter=true
    B:pen=true
    B:ritualTome=true

    # Enhanced villagers will only be enabled if this option AND the treasures option are true. Note, some of the villagers can cause large scale damage, you have been warned!
    B:treasureSafeguard=false
    B:treasures=true
    B:wandCores=true
}


machines {
    I:"Blacklisted materials for use in the Essentia Reconstructor" <
     >
}


misc {
    B:DebugFunction=false
    B:"Mekanism Recipes Will Override TE Ones"=false
}


potions {
    I:drown=82
    I:slowFall=83
}


pureores {
    B:pureAbyssalnite=true
    S:pureAbyssalniteColor=0x8d77ab
    S:pureAbyssalniteIngots=2,3,4,5,6,7
    S:pureAbyssalniteName=Abyssalnite
    B:pureAdamantine=true
    S:pureAdamantineColor=0x670808
    S:pureAdamantineIngots=2,3,4,5,6,7
    S:pureAdamantineName=Adamantine
    B:pureAlduorite=true
    S:pureAlduoriteColor=0x559494
    S:pureAlduoriteIngots=2,3,4,5,6,7
    S:pureAlduoriteName=Alduorite
    B:pureAluminum=true
    S:pureAluminumColor=0xa5abb4
    S:pureAluminumIngots=2,3,4,5,6,7
    S:pureAluminumName=Aluminum
    B:pureAmethyst=true
    S:pureAmethystColor=0xab71cc
    S:pureAmethystIngots=2,3,4,5,6,7
    S:pureAmethystName=Amethyst
    B:pureAstralSilver=true
    S:pureAstralSilverColor=0x677d7e
    S:pureAstralSilverIngots=2,3,4,5,6,7
    S:pureAstralSilverName=AstralSilver
    B:pureAtlarus=true
    S:pureAtlarusColor=0x7e6f00
    S:pureAtlarusIngots=2,3,4,5,6,7
    S:pureAtlarusName=Atlarus
    B:pureBaronyte=true
    S:pureBaronyteColor=0xa16462
    S:pureBaronyteIngots=2,3,4,5,6,7
    S:pureBaronyteName=Baronyte
    B:pureBlazium=true
    S:pureBlaziumColor=0xa98169
    S:pureBlaziumIngots=2,3,4,5,6,7
    S:pureBlaziumName=Blazium
    B:pureBoron=true
    S:pureBoronColor=0x616161
    S:pureBoronIngots=2,3,4,5,6,7
    S:pureBoronName=Boron
    B:pureCarbon=true
    S:pureCarbonColor=0x6b6b6b
    S:pureCarbonIngots=2,3,4,5,6,7
    S:pureCarbonName=Carbon
    B:pureCarmot=true
    S:pureCarmotColor=0x978b49
    S:pureCarmotIngots=2,3,4,5,6,7
    S:pureCarmotName=Carmot
    B:pureCeruclase=true
    S:pureCeruclaseColor=0x366476
    S:pureCeruclaseIngots=2,3,4,5,6,7
    S:pureCeruclaseName=Ceruclase
    B:pureConstraintMetal=true
    S:pureConstraintMetalColor=0xaea7a1
    S:pureConstraintMetalIngots=2,3,4,5,6,7
    S:pureConstraintMetalName=ConstraintMetal
    B:pureCopper=true
    S:pureCopperColor=0xa86d42
    S:pureCopperIngots=2,3,4,5,6,7
    S:pureCopperName=Copper
    B:pureCrystal=true
    S:pureCrystalColor=0xcacaca
    S:pureCrystalIngots=2,3,4,5,6,7
    S:pureCrystalName=Crystal
    B:pureDarkIron=true
    S:pureDarkIronColor=0xc7c7c7
    S:pureDarkIronIngots=2,3,4,5,6,7
    S:pureDarkIronName=DarkIron
    B:pureDeepIron=true
    S:pureDeepIronColor=0x394753
    S:pureDeepIronIngots=2,3,4,5,6,7
    S:pureDeepIronName=DeepIron
    B:pureDesh=true
    S:pureDeshColor=0x676767
    S:pureDeshIngots=2,3,4,5,6,7
    S:pureDeshName=Desh
    B:pureElecanium=true
    S:pureElecaniumColor=0x74a7a5
    S:pureElecaniumIngots=2,3,4,5,6,7
    S:pureElecaniumName=Elecanium
    B:pureEmberstone=true
    S:pureEmberstoneColor=0x9d7b7a
    S:pureEmberstoneIngots=2,3,4,5,6,7
    S:pureEmberstoneName=Emberstone
    B:pureEximite=true
    S:pureEximiteColor=0x553f65
    S:pureEximiteIngots=2,3,4,5,6,7
    S:pureEximiteName=Eximite
    B:pureGhastly=true
    S:pureGhastlyColor=0xc8cbb4
    S:pureGhastlyIngots=2,3,4,5,6,7
    S:pureGhastlyName=Ghastly
    B:pureGhoulish=true
    S:pureGhoulishColor=0xa6a6dd
    S:pureGhoulishIngots=2,3,4,5,6,7
    S:pureGhoulishName=Ghoulish
    B:pureGold=true
    S:pureGoldColor=0xb4a62c
    S:pureGoldIngots=2,3,4,5,6,7
    S:pureGoldName=Gold
    B:pureHeeEndium=true
    S:pureHeeEndiumColor=0x92b9d7
    S:pureHeeEndiumIngots=2,3,4,5,6,7
    S:pureHeeEndiumName=HeeEndium
    B:pureIgnatius=true
    S:pureIgnatiusColor=0xd97c20
    S:pureIgnatiusIngots=2,3,4,5,6,7
    S:pureIgnatiusName=Ignatius
    B:pureImagSilicon=true
    S:pureImagSiliconColor=0xdde0e8
    S:pureImagSiliconIngots=2,3,4,5,6,7
    S:pureImagSiliconName=ImagSilicon
    B:pureInfuscolium=true
    S:pureInfuscoliumColor=0x5b1a38
    S:pureInfuscoliumIngots=2,3,4,5,6,7
    S:pureInfuscoliumName=Infuscolium
    B:pureIron=true
    S:pureIronColor=0x878787
    S:pureIronIngots=2,3,4,5,6,7
    S:pureIronName=Iron
    B:pureIronwood=true
    S:pureIronwoodColor=0x655b49
    S:pureIronwoodIngots=2,3,4,5,6,7
    S:pureIronwoodName=Ironwood
    B:pureJade=true
    S:pureJadeColor=0x87b689
    S:pureJadeIngots=2,3,4,5,6,7
    S:pureJadeName=Jade
    B:pureKalendrite=true
    S:pureKalendriteColor=0x743d82
    S:pureKalendriteIngots=2,3,4,5,6,7
    S:pureKalendriteName=Kalendrite
    B:pureKnightmetal=true
    S:pureKnightmetalColor=0x828d75
    S:pureKnightmetalIngots=2,3,4,5,6,7
    S:pureKnightmetalName=Knightmetal
    B:pureLead=true
    S:pureLeadColor=0x5a5f6f
    S:pureLeadIngots=2,3,4,5,6,7
    S:pureLeadName=Lead
    B:pureLemurite=true
    S:pureLemuriteColor=0xafafaf
    S:pureLemuriteIngots=2,3,4,5,6,7
    S:pureLemuriteName=Lemurite
    B:pureLimonite=true
    S:pureLimoniteColor=0xccab71
    S:pureLimoniteIngots=2,3,4,5,6,7
    S:pureLimoniteName=Limonite
    B:pureLiquifiedCoralium=true
    S:pureLiquifiedCoraliumColor=0x70a491
    S:pureLiquifiedCoraliumIngots=2,3,4,5,6,7
    S:pureLiquifiedCoraliumName=LiquifiedCoralium
    B:pureLithium=true
    S:pureLithiumColor=0x8b8b8b
    S:pureLithiumIngots=2,3,4,5,6,7
    S:pureLithiumName=Lithium
    B:pureLyon=true
    S:pureLyonColor=0x99916d
    S:pureLyonIngots=2,3,4,5,6,7
    S:pureLyonName=Lyon
    B:pureMagnesium=true
    S:pureMagnesiumColor=0xb1a9ad
    S:pureMagnesiumIngots=2,3,4,5,6,7
    S:pureMagnesiumName=Magnesium
    B:pureManganese=true
    S:pureManganeseColor=0xffabab
    S:pureManganeseIngots=2,3,4,5,6,7
    S:pureManganeseName=Manganese
    B:pureMercury=true
    S:pureMercuryColor=0xc0c0c0
    S:pureMercuryIngots=2,3,4,5,6,7
    S:pureMercuryName=Mercury
    B:pureMeutoite=true
    S:pureMeutoiteColor=0x3b3342
    S:pureMeutoiteIngots=2,3,4,5,6,7
    S:pureMeutoiteName=Meutoite
    B:pureMidasium=true
    S:pureMidasiumColor=0xb57215
    S:pureMidasiumIngots=2,3,4,5,6,7
    S:pureMidasiumName=Midasium
    B:pureMithril=true
    S:pureMithrilColor=0x6cabb4
    S:pureMithrilIngots=2,3,4,5,6,7
    S:pureMithrilName=Mithril
    B:pureMystite=true
    S:pureMystiteColor=0xa3d6b8
    S:pureMystiteIngots=2,3,4,5,6,7
    S:pureMystiteName=Mystite
    B:pureNickel=true
    S:pureNickelColor=0x7f998c
    S:pureNickelIngots=2,3,4,5,6,7
    S:pureNickelName=Nickel
    B:pureOctine=true
    S:pureOctineColor=0xeb8c33
    S:pureOctineIngots=2,3,4,5,6,7
    S:pureOctineName=Octine
    B:pureOrichalcum=true
    S:pureOrichalcumColor=0x374c27
    S:pureOrichalcumIngots=2,3,4,5,6,7
    S:pureOrichalcumName=Orichalcum
    B:pureOsmium=true
    S:pureOsmiumColor=0x8098c3
    S:pureOsmiumIngots=2,3,4,5,6,7
    S:pureOsmiumName=Osmium
    B:pureOureclase=true
    S:pureOureclaseColor=0x844811
    S:pureOureclaseIngots=2,3,4,5,6,7
    S:pureOureclaseName=Oureclase
    B:purePalladium=true
    S:purePalladiumColor=0xf1f1f1
    S:purePalladiumIngots=2,3,4,5,6,7
    S:purePalladiumName=Palladium
    B:purePlatinum=true
    S:purePlatinumColor=0x99abb3
    S:purePlatinumIngots=2,3,4,5,6,7
    S:purePlatinumName=Platinum
    B:purePrometheum=true
    S:purePrometheumColor=0x3e5a3b
    S:purePrometheumIngots=2,3,4,5,6,7
    S:purePrometheumName=Prometheum
    B:pureRosite=true
    S:pureRositeColor=0xcc7871
    S:pureRositeIngots=2,3,4,5,6,7
    S:pureRositeName=Rosite
    B:pureRubracium=true
    S:pureRubraciumColor=0x632020
    S:pureRubraciumIngots=2,3,4,5,6,7
    S:pureRubraciumName=Rubracium
    B:pureSanguinite=true
    S:pureSanguiniteColor=0x940101
    S:pureSanguiniteIngots=2,3,4,5,6,7
    S:pureSanguiniteName=Sanguinite
    B:pureSapphire=true
    S:pureSapphireColor=0x718acc
    S:pureSapphireIngots=2,3,4,5,6,7
    S:pureSapphireName=Sapphire
    B:pureShadow=true
    S:pureShadowColor=0x6c6a7f
    S:pureShadowIngots=2,3,4,5,6,7
    B:pureShadowIron=true
    S:pureShadowIronColor=0x49372b
    S:pureShadowIronIngots=2,3,4,5,6,7
    S:pureShadowIronName=ShadowIron
    S:pureShadowName=Shadow
    B:pureSilver=true
    S:pureSilverColor=0xb4bbc0
    S:pureSilverIngots=2,3,4,5,6,7
    S:pureSilverName=Silver
    B:pureSyrmorite=true
    S:pureSyrmoriteColor=0x293c74
    S:pureSyrmoriteIngots=2,3,4,5,6,7
    S:pureSyrmoriteName=Syrmorite
    B:pureThorium=true
    S:pureThoriumColor=0x1d1d1d
    S:pureThoriumIngots=2,3,4,5,6,7
    S:pureThoriumName=Thorium
    B:pureTin=true
    S:pureTinColor=0xb4b6b8
    S:pureTinIngots=2,3,4,5,6,7
    S:pureTinName=Tin
    B:pureTitanium=true
    S:pureTitaniumColor=0x808aab
    S:pureTitaniumIngots=2,3,4,5,6,7
    S:pureTitaniumName=Titanium
    B:pureTritanium=true
    S:pureTritaniumColor=0x839092
    S:pureTritaniumIngots=2,3,4,5,6,7
    S:pureTritaniumName=Tritanium
    B:pureTungsten=true
    S:pureTungstenColor=0x5d5c60
    S:pureTungstenIngots=2,3,4,5,6,7
    S:pureTungstenName=Tungsten
    B:pureUranium=true
    S:pureUraniumColor=0x4d823d
    S:pureUraniumIngots=2,3,4,5,6,7
    S:pureUraniumName=Uranium
    B:pureVarsium=true
    S:pureVarsiumColor=0xb29967
    S:pureVarsiumIngots=2,3,4,5,6,7
    S:pureVarsiumName=Varsium
    B:pureVulcanite=true
    S:pureVulcaniteColor=0xcd561c
    S:pureVulcaniteIngots=2,3,4,5,6,7
    S:pureVulcaniteName=Vulcanite
    B:pureVyroxeres=true
    S:pureVyroxeresColor=0x3f9908
    S:pureVyroxeresIngots=2,3,4,5,6,7
    S:pureVyroxeresName=Vyroxeres
    B:pureYellorium=true
    S:pureYelloriumColor=0x8d9433
    S:pureYelloriumIngots=2,3,4,5,6,7
    S:pureYelloriumName=Yellorium
    B:pureZinc=true
    S:pureZincColor=0xbbb89e
    S:pureZincIngots=2,3,4,5,6,7
    S:pureZincName=Zinc
}


rate {
    I:BiomeMorpher=20000
    I:BloodFabricator=1000000
    I:Condenser=1000000
    I:EldritchConsumer=20000
    I:ElectricBellows=500
    I:EssentiaFusor=1000
    I:ManaExchanger=1000
    I:ManaFabricator=1000000
}


recipes {
    B:"Add/Increase Smelting bonus to dusts/ore"=true
}


renderers {
    B:CoilFX=true
}


