# Configuration file

crafting {
    # [true/false]
    B:"Activate Disc crafting"=true

    # [true/false]
    B:"Activate Nether Star crafting"=true

    # Activate Commandblocks, Structureblocks (Blocks are useless without Rights and Gamemode1) [true/false]
    B:"Activate Operator stuff"=true

    # [true/false]
    B:"Activate Ore crafting"=true

    # [true/false]
    B:"Activate Skull crafting"=true

    # [true/false]
    B:"Activate Spawnegg crafting"=true

    # [true/false]
    B:"Activate Spawner crafting"=true

    # [true/false]
    B:"Activate a harder recipe for the nether star"=false

    # Activate Bedrock, Barrier, End Portal Frame (Commandblocks & co are unbreakable too, deaktivate it too) [true/false]
    B:"Activate unbreakable blocks crafting"=true

    # [true/false]
    B:"Activate uncrafting"=true
}


