# Configuration file

blocks {
    # is Egg Timer enabled in game [default: true]
    B:eggTimerEnabled=true

    # is Fabricator enabled in game [default: true]
    B:fabricatorEnabled=true

    # is GrowthBlock enabled in game [default: true]
    B:growthBlockEnabled=true

    # Edit the functional stack size of the Damara's Remedy block. [range: 1 ~ 255, default: 16]
    I:growthBlockStackHeight=16

    # Set the max growth height of cacti/reeds on Damara's Remedy. [range: 1 ~ 32, default: 4]
    I:growthCactusReedMaxHeight=4

    # is lazy Crafter enabled in game [default: true]
    B:lazyCrafterEnabled=true

    # is the multiblock storage system enabled in game [default: true]
    B:modularEnderStorageEnabled=true

    # is Sortivator enabled in game [default: true]
    B:sortivatorEnabled=true
}


enchantment {
    # is Prosperity enhcantment enabled in game [default: true]
    B:autoSmeltEnabled=true

    # the id of the Prosperity enchantment [range: 100 ~ 256, default: 103]
    I:autoSmeltid=103

    # is Icarus enchantment enabled in game [default: true]
    B:icarusEnabled=true

    # the id of the Icarus enchantment [range: 100 ~ 256, default: 104]
    I:icarusID=104
}


entities {
    # set to false to stop the creeper mite from existing in your game [default: true]
    B:creeperMiteExist=true

    # set to falce to reduce the height you are tossed when a creeper explodes [default: true]
    B:creeperMiteGettingAir=true

    # Chance (out of 100) that a creeper mite will spawn from a tall grass block. [range: 0 ~ 100, default: 10]
    I:creeperMiteGrassChance=10

    # Chance (out of 100) that a creeper mite will spawn from a tall grass block when player hits another CreeperMite. [range: 0 ~ 100, default: 70]
    I:creeperMiteHelpChance=70
}


items {
    # is the AntiCobble item enabled in game [default: true]
    B:anticobbleEnabled=true

    # is the Arse Tardis enabled in game [default: true]
    B:arseTardisEnabled=true

    # is the block finder enabled in game [default: true]
    B:blockFinderEnabled=true

    # is the Enderium Rebirth Crystal item enabled in game [default: true]
    B:enderiumRebirthEnabled=true
}


other {
    # Set height of cacti/reeds to harvest with the growth block in auto mode. [range: 1 ~ 32, default: 4]
    I:growthBlockAutoHarvestHeight=4
}


