# Configuration file

misc {
    B:research_tags=true
    B:show_update_messages=true
    B:thaumic_disassembler_icon=false

    # Should update notifications be enabled? [default: true]
    B:use_update_handler=true
}


ores {
    B:disable_shadowore_spawning_in_world=false
    I:shadowore_spawn_rate=20
}


research {
    # Setting this to false will disable the '[TaintedMagic]' tag on the research [default: true]
    B:research_tags=true

    # Setting this to true will enable the old custom tab background [default: false]
    B:use_custom_research_tab_background=false
}


