# Configuration file

plugins {
    # AppleMilkTeaPlugin : Whether or not to invoke plugin for Apple&Milk&Tea!.
    B:DCsAppleMilk=true

    # EnderStoragePlugin : Whether or not to invoke plugin for EnderStorage.
    B:EnderStorage=true

    # IC2Plugin : Whether or not to invoke plugin for IndustrialCraft 2.
    B:IC2=true

    # MekanismPlugin : Whether or not to invoke plugin for Mekanism.
    B:Mekanism=true

    # TinkersConstructPlugin : Whether or not to invoke plugin for Tinkers' Construct.
    B:TConstruct=true

    # ThaumcraftPlugin : Whether or not to invoke plugin for Thaumcraft.
    B:Thaumcraft=true

    # NEIPlugin : Whether or not to invoke plugin for Not Enough Items.
    B:NotEnoughItems=true
}


